@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
    font-weight: 500;
}

h4, h5 {
    font-weight: 400;
}