.banner {
    background-image: url('../../assets/images/banner-header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 260px 50px 40px;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.banner__title {
    color: #FFF;
}